*{
    margin: 0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
.logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.logo img{
    width: 40%;
    border:3px solid white;
    border-radius: 80px;
    
    
 
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
    cursor: pointer;
    height: 50px;
}
.nav-list{
    width: 70%;
    /*background-color: black;*/
    display:flex;
    align-items: center;

}

.nav-list li{
    list-style: none;
    padding: 20px 15px;
    color: white;
}

.nav-list li a{
    text-decoration: none;
    color:rgb(241, 241, 234);
    font-weight: bold;
    font-size: 18px;


}
.nav-list li a:hover{
    text-decoration: none;
   color:#ceee13;


}

.rightNav{
   /* background-color: gray;*/
    width: 30%;
    text-align: right;
    padding: 0 20px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border:2px;
    border-radius: 9px;
}

.background{
    background: rgba(0,0,0,0.7) url('https://source.unsplash.com/180x70/?library,books');
    background-size: cover;
    background-blend-mode: darken;
} 

.firstSection{
    height: 50vh;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color:aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    max-width: 50%;
    margin:auto;
    height:90%;
   
}

.firstHalf{
    width:70%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}

.secondHalf{
    width:30%;

}

.secondHalf img{
    width:90%;
    display:block;
    margin:auto;
}

.text-big{
    font-size: 50px;

}

.text-small{
    font-size:18px;
}

.btn{
    padding:8px 20px;
    margin:7px 10px;
    border-radius: 12px;
    border-color: white;
    font-size: 17px;
    color: rgb(143, 145, 136);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    background: none;

}

.btn-sm{
    color:white;
    padding:5px 10px;
    vertical-align: middle;
}

.section{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin:auto;
}

.left{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin:auto;
    flex-direction: row-reverse;
}

.imgFluid{
    border:3px;
    border-radius: 20px;
}

.thumbnail img{
    width:350px
}

.para{
    padding:0 20px;
}

.sectionTag{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(47, 8, 8);
}

.sectionSubTag{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: rgb(41, 38, 41);
}

.contact{
    background-color: rgb(222, 219, 219);
    height: 500px;
}

.text-center{
    text-align:center ;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifu;
}

.form{
    max-width: 500px;
    margin: auto;
}

.form-input{
    margin: 10px 0;
    padding: 5px 3px;
    width: 100%;
    font-size: 14px;
    border: 2px solid gray;
    border-radius: 10px;
}

.btn-dark{
    color:rgb(111, 107, 107);
    vertical-align:middle ;
    border: 2px solid rgb(241, 235, 235);
    text-align: center;
}

.text-footer{
    text-align: center;
    padding: 20px;
    color:white;
     
}

.burger{
    display:none;
    position:absolute;
    cursor:pointer;
    right:5%;
    top:15px;

}

.line{
    width:33px;
    background-color:white;
    height:5px;
    margin: 3px 3px;

}
@media only screen and (max-width:1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height:500px;
        flex-direction: column;
        transition: all 0.7s ease-out;
    }

    .rightNav{
        text-align: center;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    #search{
        width:100%;
    }

    .burger{
        display:block;

    }

    .h-nav-resp{
        height: 72px;
    }

    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
   
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
}
